* {
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}

body {
    height:100vh;
    max-width:100%;
    user-select: none;
}

.screen_out {
    display:none;
}

a {
    text-decoration: none;
}

header {
    height: 170px;
    border-bottom:2px solid #f7f7f7;
}

/*menu*/
.menu {
    display: flex;
    position: absolute;
    width: 130px;
    right: 0;
    z-index: 1;
}
 
.menu>li>a {
    width: 43px;
    height: 43px;
    background: center / 20px no-repeat url(img/menu-icon.png);
    cursor: pointer;
    top: 19px;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    font-size: 0;
}

.menu>li:nth-child(2)>a {
    background: center / 55px url(img/Ryuhwaeun.jpg);
    top: 19px;
    left: 55px;
}

.menu>li>a:hover::before {
    content: "";
    background-color: #e8e8e8;
    width: 52px;
    height: 52px;
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    top: -4.5px;
    right: -4.5px;
}

.menu>li>ul {
    width: 380px;
    height: 380px;
    right: 10px;
    padding-bottom: 30px;
    top: 70px;
    border: 1px solid #ececec;
    background-color: #fff;
    border-radius: 7px;
    position: absolute;
    flex-wrap: wrap;
    display: flex;
    box-shadow:0 2px 3px 2px rgba(0,0,0,.18);
    z-index: 1;
}

.menu>li:nth-child(2)>ul {
    width: 250px;
    height: 270px;
}
   
.menu>li>ul>li {
    width: 46px;
    height: 46px;
    border-radius: 50%;
    display: block;
    margin-left: 40px;
    margin-top: 28px;
    background-size: 46px;
}

.menu>li:nth-child(2)>ul>li {
    margin-left: 50px;
}
 
.menu>li>ul>li a {
    color: black;
    display: block;
    text-align: center;
    width: 80px;
    margin-left:-20px;
    color: #202124;
    padding-top: 50px;
}

.menu>li:nth-child(1)>ul>li:nth-child(1) {
    background-image: url(img/ui\,ux.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(2) {
    background-image: url(img/html.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(3) {
    background-image: url(img/java.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(4) {
    background-image: url(img/css.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(5) {
    background-image: url(img/video.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(6) {
    background-image: url(img/photoshop.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(7) {
    background-image: url(img/illustration.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(8) {
    background-image: url(img/premere\ pro.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(9) {
    background-image: url(img/after\ effect.png);
}
.menu>li:nth-child(1)>ul>li:nth-child(10) {
    background-image: url(img/cinema_4d.jpg);
    background-repeat: no-repeat;
    background-size: 80px;
    background-position: center;
}
.menu>li:nth-child(2)>ul>li:nth-child(1) {
    background-image: url(img/about_me.png);
}
.menu>li:nth-child(2)>ul>li:nth-child(2) {
    background-image: url(img/skill.png);
}
.menu>li:nth-child(2)>ul>li:nth-child(3) {
    background-image: url(img/carrer.png);
}
.menu>li:nth-child(2)>ul>li:nth-child(4) {
    background-image: url(img/education.png);
}

.menu>li>ul>li:hover::after {
    content: "";
    width: 170%;
    height: 200%;
    background-color: #e8f0fe;
    border-radius: 7px;
    display: block;
    position: relative;
    z-index: -1;
    top: -80px;
    left: -18px;
}

.menu>li:nth-of-type(1)>ul>li:nth-child(3):hover::after,
.menu>li>ul>li:nth-child(6):hover::after,
.menu>li>ul>li:nth-child(7):hover::after,
.menu>li>ul>li:nth-child(8):hover::after,
.menu>li>ul>li:nth-child(9):hover::after,
.menu>li>ul>li:nth-child(10):hover::after {
   height: 240%;
   top: -100px;
}

.menu>li:nth-of-type(2)>ul>li:nth-child(1):hover::after,
.menu>li>ul>li:nth-child(4):hover::after {
   height: 240%;
   top: -100px;
}

/*검색창*/
#li {
    width:100%;
    display: flex;
    position:absolute;
}

#li>h1 {
    font-size: 0;    
}

#li .logo {
    display: block;
    width:110px;
    height:55px;
    background: center / 95px no-repeat url(img/main\ logo.png);text-indent: -9999em;
    margin-top:36px;
    padding:0 80px;
}

header fieldset {
    border:none;
    box-shadow:0 1px 3px 2px #ccc;
    height:45px;
    border-radius:45px;
    padding:15px 50px 0;
    position: relative;
    margin-top:40px;
    width: 690px;
    margin-left:5px;
}

header #search {
    position: absolute;
    font-size:16px;
    color:#5f6368;
    border:none;
    width:80%;
    display:block;
    outline:none;
    margin-left:-28px;
    margin-top:0px;
}

header fieldset::after {
    content:"";
    width:25px;
    height:25px;
    background: bottom / 15px no-repeat url(img/x\ bos.svg);
    position:absolute;
    right:55px;
    top:5px;
    cursor: pointer;
    }
    
header fieldset::before {
    content:"\f002";
    position: absolute;
    width:17px;
    height:17px;
    font-family:'FontAwesome';
    color:#5f6368;
    right:20px;
    top:14px;
    border-left:3px solid #e9eaed;
    padding-left:10px;
}

header fieldset button {
    width:35px; 
    height:35px;
    position:absolute;
    border:none;
    text-indent:-9999px;
    overflow:hidden;
    cursor: pointer;
    right:13px;
    top:5px;
    background-color:transparent;
}

header #keyword {
    display:flex;
    width:700px;
    margin:auto;
    padding-top:35px; 
    margin-left:-5px;
}

header #keyword li {
    margin:auto;
}

header #keyword a {
    color:#151515;
    border:2px solid #dbdbdb;
    border-radius:25px;
    width:100px;
    text-align: center;
    background-color: #f2f2f2;
    margin:auto;
    padding:5px 15px;
    font-family: 'Noto Sans KR';
    font-weight: 400;
    text-decoration: none;
    font-size:14px;
    position: relative;
}

header #keyword a:focus {
    color:#fff;
    border:2px solid #151515;
    background-color: #151515;
}

/*키워드 클릭 시 on 이벤트 발생*/
header #keyword li a::after{
    display: none;
    content:"";
    border-bottom:3px solid #1a73e8;
    height:48px;
    width: 100%;
    position: absolute;
    left: 0;
}

/*main*/
main {
    width: 690px;
    margin-left: 164px;
}

main .fa {
    font-size: 18px;
    padding-right: 12px;
    color: #70757a
}

main h2 {
    padding-bottom:8px;
    font-family: 'Noto Sans KR';
    font-weight: 500;
    padding-top: 50px;
}

.cont1>h2 {
    padding-top:20px;
    
}

#contact ul:last-child {
    margin-bottom: 53px;
}

/*작품이미지*/
#image {
    display: block;
    position:relative;
    vertical-align: top;
    white-space: nowrap;
}

#image>ul:last-child a {
    width:300px;
    height:36px;
    border-radius:25px;
    bottom: -18px;
    left: 25%;
    border:1px solid #dadce0;
    background-color: #f1f3f4;
    position:absolute;
    font-size:15px;
    text-align: center;
    padding-top: 6px;
    color: #202124;
}

#image>ul:last-child a:hover {
    background-color: #d8d7dc;
}

#image>ul:last-child a::before {
    content:"\f061";
    font-size:15px;
    display: block;
    position: absolute;
    top: 8px;
    right: 30%;
    font-family:'FontAwesome';
    color:#5f6368;
}

#category {
    display: flex;
}

#category ul {
    display:flex;
    flex-wrap: wrap;
    width:630px;
}

#category li {
    flex-wrap: wrap;
    position: relative;
    border:1px solid #dadce0;
    border-radius:25px;
    display: inline-block;
    margin-right:6px;
    margin-bottom:15px;
    overflow:hidden;
    padding:10px 15px 10px 6px;
}

#category li:hover {
    background-color: #f8f9fa;
}

#category a {
    color:#151515;
    text-align: center;
    width:120px;
    text-decoration: none;
    margin-right:6px;
    padding-left:35px;
}

#category a::after {
    content:"";
    left:2px;
    top:5px;
    width:32px;
    height:32px;
    border-radius:25px;
    position:absolute;
}

#category li a::after {
    background: center / 37px no-repeat url(img/main\ logo.png);
}

#category li:nth-of-type(1) a::after {
    background-size: 32px;
}

#category li:nth-of-type(2) a::after {
    background-image:url(img/ui\,ux.png);
}
#category li:nth-of-type(3) a::after {
    background-image:url(img/javascript.png);
}
#category li:nth-of-type(4) a::after {
    background-image:url(img/photoshop.png);
}
#category li:nth-of-type(5) a::after {
    background-image:url(img/illustration.png);
}


input[id*="cont"] {
    display:none;
}

input[id*="cont"] + label {
    display:block;
    border:1px solid #dadce0;
    border-radius:50%;
    width:43px;
    height:43px;
    font-weight:900;
    background:#fff;
    cursor: pointer;
    position:absolute;
    left:643px; 
    top:3px;
}

input[id*="cont"] + label:hover {
    background-color: #f8f9fa;
}

input[id*="cont"] + label .fa:nth-of-type(1) {
    position:absolute;
    top:5px;
    left:10px;
    display:inline-block;
    font-size:30px;
    color:#81858a;
}

input[id*="cont"] + label .fa:nth-of-type(2) {
    display: none;
}

input[id*="cont"]:checked + label .fa:nth-of-type(1) {
    display: none;
}

input[id*="cont"]:checked + label .fa:nth-of-type(2) {
    position: absolute;
    top: 3px;
    left: 10px;
    display: inline-block;
    font-size: 30px;
    color: #81858a;
}

input[id*="cont"] + label + #category {
    max-height: 53px;
    transition: all .35s;
    width: 635px;
    overflow: hidden;
    display: flex;
}

input[id*="cont"]:checked + label + #category {
    max-height: 190px; 
}

#list {
    display: flex;
    height: 280px;
    overflow: hidden;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 35px;
}

#list li {
    width: 220px;
    height: 130px;
    position: relative;
}

#list a {
    background-image: url(img/01_soda_shake.png);
    background-repeat: no-repeat;
    background-position-y: -30px;
    background-size: 220px;
    width:220px;
    height:130px;
    display: block;
}

#list span {
    font-size:0;
}

#list li:nth-child(2) a {
    background-image:url(img/02_sun_stick.png);
    background-repeat: no-repeat;
    background-position-y:-15px;
    display: block;
}

#list li:nth-child(3) a {
    background-image:url(img/03_show.png);
    background-repeat: no-repeat;
    background-position-y:-4px;
}

#list li:nth-child(4) a {
    background-image:url(img/04_404_error.png);
    background-repeat: no-repeat;
    background-position-y:-15px;
}

#list li:nth-child(5) a {
    background-image:url(img/05_cash_back.png);
    background-repeat: no-repeat;
}

#list li:nth-child(6) a {
    background-image:url(img/08_reservation.png);
    background-repeat: no-repeat;
    background-position-y:-15px;
}

/*fmail modal*/
#contact .modal {
    display: none;
   position: fixed; 
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%; 
   height: 200%;
   overflow: auto; 
   background-color: rgba(0, 0, 0, 0.591);
}

#contact .container {
    left:25%;
    top:10%;
    position: absolute;
    width: 880px;
    height: 572px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow:10px 10px 10px 5px rgba(0, 0, 0, 0.18);
    border-radius: 5px;
}

#contact .container h3 {
    color: #ebebeb;
    background-color: #404040;
    border-radius: 5px 5px 0 0;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    padding-left: 16px;
}

#contact .container .close {
    position: absolute;
    display: block;
    font-size: 22px;
    color: #b3b3b3;
    right: 15px;
    padding-top:3px;
    cursor: pointer;
}

#contact fieldset {
    border: none;
    min-width: 300px;
}

#contact .form_base {
    border: none;
    border-bottom: 1px solid #eceff1;
    height: 31px; 
    width: 97%; 
    padding:25px 0 25px;
    margin-left: 16px;
    line-height: 100%;
    display:block;
    font-size:15px; 
    font-family: 'Noto Sans KR',sans-serif;
    font-weight:300;
    outline:none;
}

#contact .form_base:focus {
    border-color:#b1b1b1;
}

#contact .form_base.alert {
    border-color:#ef7f7f;
}

#contact .form_base.alert+span {
    color:#ef7f7f;
    font:12px/12px dotum,돋움,sans-serif; 
    position: absolute;
    margin:-40px 0 0 20px;
}

#contact ::placeholder {
    font-family:'Noto Sans KR',sans-serif;
    font-weight:300;
    color:#797979;
    font-size:14px
}

#contact textarea.form_base {
    padding-top:20px;
    min-height:200px;
}

#contact input[name=answer] {display:none;}
#contact .fa {font-size:22px;color:#d2d2d2; cursor: pointer;margin-right:10px;}
#contact .fa.fa-envelope-o {margin-left:160px;}
#contact .fa.fa-comment-o {margin:-3px 2px;position: absolute;}
#contact .fa.fa-check {position: absolute;right:10px;color:#5ab601;margin-top:-35px;display:none;}
#contact input:checked+.fa {color:#333;}
#contact #msg~p {padding:5px 20px;}
#contact #msg~div {position: absolute;margin:-25px 0 0 130px;}
#contact button.form_base {
    background-color:#1a73e8;
    width:100px;
    height:36px;
    color:#fff;
    font-family:'Noto Sans KR'; 
    font-size:17px; 
    cursor: pointer;
    margin:150px 16px;
    line-height: 0px;
    border-radius: 5px;
}

#contact button.form_base:hover {
    background-color: #3081ea;
    box-shadow: 3px 5px 5px rgba(58, 141, 197, 0.377); 
}

#contact .form_base+span {display: none;}

/* footer */
footer {
    background-color:#f2f2f2;
    text-align:center;
    height:130px;
    max-width: 100%;
}

footer .f_btn {
    position:fixed;
    right:30px; 
    bottom:50px;
    color:#1a73e8;
    background:#fff;
    padding:7px 15px;
    border-radius:25px;
    border:none;
    box-shadow:0 2px 3px 2px rgba(0,0,0,.18);
    text-decoration: none;
    font-size:14px;
    margin:0 10px;
}

footer>p>.fa {
    padding-right:8px;
    padding-left:3px;
}

footer p {
    padding:10px;
}

footer>ul>li>p:nth-of-type(2) {
    background-image: url(img/cooooodesigner.png);
    height:54px;
    background-repeat: no-repeat;
    background-position:center;
    background-size:210px;
}

footer>ul>li>p:nth-of-type(2) span {
    color:transparent
}

/* f_modal */
footer .f_modal {
    display: none;
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 200%;
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.591);
}
    
.container {
    text-align: left;
left:25%;
top:10%;
position: absolute;
width: 880px;
height: 572px;
margin: 20px auto;
background-color: #fff;
border-radius: 10px;
box-shadow:10px 10px 10px 5px rgba(0, 0, 0, 0.18);
}

.container>h3 {
    padding-left: 250px;
    padding-top: 39px;
}

.tab_title {
padding-top: 36px;
}

.tab_title li {
width: 210px;
height: 35px;
list-style: none;
width: 100px;
cursor: pointer;
text-align: left;
font-size: 14px;
padding-right:200px;
border-radius:0 25px 25px 0px;
margin-left:0px;
display: flex;
line-height: 35px;
}

.tab_title li:nth-of-type(2) {
margin-top: 18px;
margin-bottom: 18px;
}

.tab_title li span {
padding-left: 5px;
}

.tab_title .fa {
padding: 10px 25px 0 25px;
}

.tab_title li.on {
background-color: #dae7f8;
font-weight: bold;
color: #1967d2;
}

.tab_title li:hover {
background-color: #e8e8e9;
}

.tab_cont {
position: absolute;
clear: both;
height: 70%;
background-color: #fff;
width: 70%;
right: 15px;
top: 100px;
}

.tab_cont p {
    padding:0;
}

.tab_cont div {
display: none;
font-family: 'Noto Sans KR';
font-weight: 200;
}

.tab_cont div.on {
display: block;
}  

.tab_cont span {
font-weight: 400;
padding-right: 10px;
}

.tab_cont div>ul>li:last-child {
padding-bottom: 45px;}

.tab_cont div:first-child>ul>li:nth-of-type(1) {
width:240px;
height:260px;
border: 1px solid #dedede;
border-radius: 5px;
background-image: url(img/Ryuhwaeun.jpg);
background-size: cover;
background-position: 0 -5px;
background-repeat: no-repeat;
background-size: 240px;
float:left;
}

.tab_cont div:first-child>ul>li:nth-of-type(2) {
font-family: 'Noto Sans KR';
font-weight:700;
font-size:30px;
color:#030303;
text-align: left;
padding-left: 270px;
padding-top:133px;
}

.tab_cont div:first-child>ul>li:nth-of-type(3) {
padding-top: 30px;
}

.tab_cont div h3 {
margin-left: 0px; 
padding-bottom: 10px;
font-weight: 700;
font-size: 20px;
margin-top:0;
}

.tab_cont div:nth-of-type(3) {
height: 100%;
width:100%;
overflow-y: auto;
overflow-x: hidden;
}

.btn-close {
height: 35px;
width: 73px;
display: block;
border: 1px solid #e4e6e9;
border-radius: 5px;
background-color: #fff;
color: #2278e9;
text-align: center;
line-height: 32px;
text-decoration: none;
font-size: 13px;
float: right;
right:100px;
bottom: 15px;
position: absolute;
}
.btn-close:nth-of-type(1) {
background-color: #2278e9;
color: #fff;
height: 37px;
border: none;  
line-height: 35px;
right:15px;
}

.btn-close:hover {
background-color: #f8faff;
border: 1px solid #d2e3fc;
}

.btn-close:nth-of-type(1):hover {
background-color: #3081ea;
border: none;
}
.btn-close:focus {
box-shadow: 2px 3px 2px rgba(0,0,0,.18); 
}

@media screen and (max-width:360px) { 
    header {
        max-width: 360px;
        height: 178px;
    }

    .menu>li>a {
        left: 40px;
        top: 17px;
        width: 35px;
        height: 35px;
        background-size: 18px;
     }
    .menu>li:nth-child(2)>a {
        background: center / 45px url(img/Ryuhwaeun.jpg);
        left: 81px;
    }
     
    .menu>li>a:hover::before {
        width: 45px;
        height: 45px;
        top: -5px;
        right: -5px;
    }

    .menu>li>ul {
        right: 5px;
    }

    #li>div {
        overflow: hidden;
    }

    #li .logo {
        position: absolute;
        left:94px;
        margin-top:0;
        top:10px;
        background-size: 70px;
    }

    header fieldset {
        display: block;
        max-width: 335PX;
        height: 40px;
        margin: 70px 0 0 15px;
        box-shadow:0 1px 3px 1px rgb(225, 225, 225);
    }
    
    header fieldset button {
        left:13px;
        position: relative;
    }

    header fieldset::before {
        top: 13px;
        position : absolute;
        border: none;
        left: 8px;
        color: #a4a3a3;
    }

    header fieldset::after {
        right: 8px;
        top: 3px;
    }

    header #search {
        left: 70px;
        font-size: 15px;
        top: 13px;
    }

    header #keyword {
        flex-wrap: wrap;
        margin-left: 14px;
        padding-top: 2px;
        height: 70px;
        width: 577px;
    }

    header #keyword a {
        margin-right: 8px;
        width: 100px;
        padding: 5px 11px;
        font-size: 12px;
    }
    
    /*main*/
    main {
        max-width: 360px;
        margin: 0;
        padding: 0;
        font-family: 'Noto Sans KR';
    }

    main h2 {
        padding-bottom:8px;
        font-weight: 500;
        font-size: 21px;
        padding-top: 20px;
        padding-left: 15px;
    }

    main li {
        color: #4f5054;
    }

    .cont1 li, .cont3 li {
        padding-left: 15px;
        padding-bottom: 20px;
    }

    .cont1, .cont2 {
        border-bottom: 10px solid #f2f3f5;
    }

    #contact ul:last-child {
        margin-bottom: 10px;
    }

    /*category*/
    #accordion {
        overflow: hidden;
    }

    #category ul {
        flex-wrap: wrap;
        padding-left: 15px;
    }

    #category li {
        padding: 4px 7px 8px 6px;
    }

    #category a::after {
        top:3px;
        width:29px;
        height:29px;
    }

    #category li a::after {
        background-size: 32px;
    }

    #category li:nth-of-type(1) a::after {
        background-size: 28px;
    }

    input[id*="cont"] + label {
        display: none;
    }

    input[id*="cont"] + label + #category {
        max-height: 45px;
    }

    /*image*/
    #image>ul:last-child a {
        display: none;
    }

    #image hr {
        display: none;
    }

    #image>ul:last-child a::before {
        right:25%;
    }

    #list {
        justify-content: space-around;
        height: 267px;
        max-width: 360px;
        margin-bottom: 10px;
    }

    #list li {
        width:140px;
        height:90px;
    }

    #list a {
        background:center / 180px no-repeat url(img/01_soda_shake.png);
        width:135px;
        height:80px;
        display: block;
    }
    
    /*footer*/
    footer p:nth-child(1) {
        display: none;
    }
    
    footer p:nth-child(2) {
        display: block;
        position: relative;
        top: 25px;
    }
    footer address {
        margin-top:20px;
    }
}
