* {
    margin:0;
    padding:0;
    list-style:none;
    box-sizing: border-box;
}

.screen_out {
   display:none;
}

a {
   text-decoration: none;
}

header {
  width:100%;
  height:50px;di
}       
.minimenu {
   display: flex;
   position: absolute;
   width: 130px;
   right: 0;
}
.minimenu>li {
   width: 43px;
   height: 43px;
   background-image: url(img/menu-icon.png);
   background-size: 20px;
   background-repeat: no-repeat;
   background-position: center;
   cursor: pointer;
   margin-right: 20px;
   margin-top: 19px;
   position: relative;
   display: inline-block;
   border-radius: 50%;
}
.minimenu>li:nth-child(2) {
   background-image: url(img/증명사진.jpg);
   background-size: 55px;
}
.minimenu>li:hover::before {
   content: "";
   background-color: #e8e8e8;
   width: 52px;
   height: 52px;
   position: absolute;
   border-radius: 50%;
   z-index: -1;
   top: -4px;
   right: -4px;
}
.minimenu>li>a {
   font-size:0;
}
.minimenu>li>ul {
   width: 380px;
   height: 380px;
   right: 260px;
   padding-bottom: 30px;
   top: 35px;
   border: 1px solid #ececec;
   background-color: #fff;
   border-radius: 7px;
   position: relative;
   flex-wrap: wrap;
   display: flex;
   box-shadow:0 2px 3px 2px rgba(0,0,0,.18);
   z-index: 1;
}
.minimenu>li:nth-child(2)>ul {
   width: 330px;
   height: 270px;
   right: 273px;
}
.minimenu>li>ul>li {
   top: 10px;
   width: 46px;
   height: 46px;
   border-radius: 50%;
   display: block;
   margin-left: 40px;
   margin-top: 28px;
   background-size: 46px;
}
.minimenu>li:nth-child(2)>ul>li {
   margin-left: 48px;
}
.minimenu>li:nth-child(1)>ul>li:nth-child(1) {
   background-image: url(img/ui\,ux.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(2) {
   background-image: url(img/html.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(3) {
   background-image: url(img/java.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(4) {
   background-image: url(img/css.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(5) {
   background-image: url(img/video.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(6) {
   background-image: url(img/photoshop.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(7) {
   background-image: url(img/illustration.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(8) {
   background-image: url(img/premere\ pro.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(9) {
   background-image: url(img/after\ effect.png);
}
.minimenu>li:nth-child(1)>ul>li:nth-child(10) {
   background-image: url(img/cinema_4d.jpg);
   background-repeat: no-repeat;
   background-size: 80px;
   background-position: center;
}
.minimenu>li:nth-child(2)>ul>li:nth-child(1) {
   background-image: url(img/about_me.png);
}
.minimenu>li:nth-child(2)>ul>li:nth-child(2) {
   background-image: url(img/skill.png);
}
.minimenu>li:nth-child(2)>ul>li:nth-child(3) {
   background-image: url(img/carrer.png);
}
.minimenu>li:nth-child(2)>ul>li:nth-child(4) {
   background-image: url(img/education.png);
}
.minimenu>li:nth-child(2)>ul>li:nth-child(5) {
   background-image: url(img/contact_me2.png);
}
.minimenu>li>ul>li a {
   color: black;
   display: block;
   text-align: center;
   width: 80px;
   margin-left:-16px;
   color: #202124;
   padding-top: 50px;
}
.minimenu>li>ul>li:hover::after {
   content: "";
   width: 170%;
   height: 200%;
   background-color: #e8f0fe;
   border-radius: 7px;
   display: block;
   position: relative;
   z-index: -1;
   margin-top:-80px;
   margin-left:-16px;
}
.minimenu>li:nth-of-type(1)>ul>li:nth-child(3):hover::after,.minimenu>li>ul>li:nth-child(6):hover::after,.minimenu>li>ul>li:nth-child(7):hover::after,.minimenu>li>ul>li:nth-child(8):hover::after,.minimenu>li>ul>li:nth-child(9):hover::after,.minimenu>li>ul>li:nth-child(10):hover::after {
   height: 240%;
   margin-top:-103px;
}
.minimenu>li:nth-of-type(2)>ul>li:nth-of-type(1):hover::after,.minimenu>li:nth-of-type(2)>ul>li:nth-of-type(4):hover::after,.minimenu>li:nth-of-type(2)>ul>li:nth-of-type(5):hover::after {
   height: 240%;
   margin-top:-103px;
}

/*main*/
main {
   width: 665px;
   height:380px;
   margin:150px auto;
}
h1 a {
   display: block;
   width:230px;
   height:218px;
   background: center / 230px url(img/codesigner-logo_google.png);
   background-repeat: no-repeat;
   margin: auto;
   text-indent: -9999em;
   cursor: pointer;
}
main fieldset {
   border:none;
   box-shadow:0 1px 3px 2px #ccc;
   height:44px;
   border-radius:45px;
   padding:15px 50px 0;
   position: relative;
   width: 561px;
   margin: 20px auto 5px;
}
main fieldset::before {
   content:"\f002";
   position: absolute;
   width:17px;
   height:17px;
   font-family:'FontAwesome';
   color:#5f6368;
   margin-left:-30px;
   margin-top: -2px;
}
main #search {
   font-size:16px;
   color:#5f6368;
   width:100%;
   margin-top:-2px;
   display:block;
   border:none;
   outline:none;
}
main fieldset button {
   width:35px; 
   height:35px;
   position:absolute;
   border:none;
   text-indent:-9999px;
   overflow:hidden;
   cursor: pointer;
   left:15px;
   top:0;
   background-color:transparent;
}
/*keyword*/
main #keyword {
   display:flex;
   width:418px;
   margin:auto;
   padding-top:28px;
}
main #keyword li {
   margin:auto;
}
main #keyword a {
   color:#151515;
   border:2px solid #dbdbdb;
   border-radius:25px;
   width:100px;
   text-align: center;
   background-color: #f2f2f2;
   margin:auto;
   padding:5px 15px;
   font-family: 'Noto Sans KR';
   font-weight: 400;
   text-decoration: none;
}
main #keyword a:focus {
   color:#fff;
   border:2px solid #151515;
   background-color: #151515;
}
/*footer*/
footer {
   position: fixed;
   right:30px; 
   bottom:50px;
}

.modal {
   display: none;
   position: fixed; 
   z-index: 1;
   left: 0;
   top: 0;
   width: 100%; 
   height: 200%;
   overflow: auto; 
   background-color: rgba(0, 0, 0, 0.591);
}

.container {
   left:25%;
   top:10%;
   position: absolute;
   width: 880px;
   height: 572px;
   margin: 20px auto;
   background-color: #fff;
   border-radius: 10px;
   box-shadow:10px 10px 10px 5px rgba(0, 0, 0, 0.18);
}

.tab_title {
   padding-top: 35px;
}

.tab_title li {
   width: 210px;
   height: 35px;
   list-style: none;
   width: 100px;
   cursor: pointer;
   text-align: left;
   font-size: 14px;
   padding-right:200px;
   border-radius:0 25px 25px 0px;
   margin-left:0px;
   display: flex;
   line-height: 35px;
}

.tab_title li:nth-of-type(2) {
   margin-top: 18px;
   margin-bottom: 18px;
}

.tab_title li span {
   padding-left: 5px;
}

.tab_title .fa {
   padding: 10px 25px 0 25px;
}

.tab_title li.on {
   background-color: #dae7f8;
   font-weight: bold;
   color: #1967d2;
}

.tab_title li:hover {
   background-color: #e8e8e9;
}

.tab_cont {
   position: absolute;
   clear: both;
   height: 70%;
   background-color: #fff;
   width: 70%;
   right: 15px;
   top: 100px;
}

.tab_cont div {
   display: none;
   font-family: 'Noto Sans KR';
   font-weight: 200;
}

.tab_cont div.on {
   display: block;
}

.tab_cont span {
   font-weight: 400;
   padding-right: 10px;
}

.tab_cont div>ul>li:last-child {
   padding-bottom: 45px;
}

.tab_cont div:first-child>ul>li:nth-of-type(1) {
   width:240px;
   height:260px;
   border: 1px solid #dedede;
   border-radius: 5px;
   background-image: url(img/증명사진.jpg);
   background-size: cover;
   background-position: 0 -5px;
   background-repeat: no-repeat;
   background-size: 240px;
   float:left;
}

.tab_cont div:first-child>ul>li:nth-of-type(2) {
   font-family: 'Noto Sans KR';
   font-weight:700;
   font-size:30px;
   color:#030303;
   text-align: left;
   padding-left: 270px;
   padding-top:133px;
}

.tab_cont div:first-child>ul>li:nth-of-type(3) {
   padding-top: 30px;
}

.tab_cont div h3 {
   margin-left: 0px; 
   padding-bottom: 10px;
   font-weight: 700;
   font-size: 20px;
   margin-top:0;
}

.btn-close {
   height: 35px;
   width: 73px;
   display: block;
   border: 1px solid #e4e6e9;
   border-radius: 5px;
   background-color: #fff;
   color: #2278e9;
   text-align: center;
   line-height: 32px;
   text-decoration: none;
   font-size: 13px;
   float: right;
   margin-left: 10px;
   margin-top: 281px;
}

.btn-close:nth-of-type(1) {
   background-color: #2278e9;
   color: #fff;
   height: 37px;
   border: none;
   margin-right: 15px;
   line-height: 35px;
}

.btn-close:hover {
   background-color: #f8faff;
   border: 1px solid #d2e3fc;
}

.btn-close:nth-of-type(1):hover {
   background-color: #3081ea;
   border: none;
}
.btn-close:focus {
   box-shadow: 2px 3px 2px rgba(0,0,0,.18); 
}

footer .btn {
   color:#1a73e8;
   background:#fff;
   padding:7px 15px;
   border-radius:25px;
   border:none;
   box-shadow:0 2px 3px 2px rgba(0,0,0,.18);
   text-decoration: none;
   font-size:14px;
   margin:0 10px;
}

footer .btn .fa {
   padding-right:8px;
   padding-left:3px;
}

footer h3 {
   font-weight: 300;
   margin-top: 40px;
   margin-left: 250px;
}